@font-face{
  font-family: 'Neue Machine';
  src: url('./fonts/NeueMachina-Bold.ttf')
}

body {
  margin: 0;
  font-family: 'Neue Machine';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Neue Machine',
    monospace;
}
